@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family:'bebas-nova';
    src: url(fontes/BebasNeue-Regular.ttf);
}

:root {
    --cor0: #4EDAF2;
    --cor1: #05CCF0;
    --cor2: #03A0BD;
    --cor3: #026070;
    --cor4: #246570;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-android: 'Android', cursive;
    --fontes-destaque: 'bebas-nova', cursive;
}


* {box-sizing:border-box}

*{
  margin: 0;
  padding: 0;
}

header{
  background-image: linear-gradient(to bottom, white, var(--cor2));
  min-height: 150px; 
  padding-top: 0px;
}

header img.logo_pequena{
  max-width: 135px;
  display: block;
  margin: auto;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.img_logo_header{
  width: 45px;
  
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--cor2);
  box-shadow: 2px 3px 8px black;
  height: 44px;
  justify-content: space-between;
  padding: 0 12%;
}
.nagivation_header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  z-index: 2;
  background-color: var(--cor2);
  
}
.nagivation_header a{
  text-decoration: none;
  color: var(--color-white);
  transition: 1s;
  font-weight: bold;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  padding: 13px;
  border-radius: 5px;
}
.nagivation_header a:hover{
background-color: var(--cor0);
color: var(--cor3);
}
.active{
  background-color: var(--cor2);
  padding: 10px;
  border-radius: 10px;
}
.content{
  text-align: center;
  padding: 2em;
  transition: 1s;
}
h1{
  font-size: 30px;
  color: var(--cor4);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -30px;
}
.btn_icon_header{
  background-color: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  display: none;
}


/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
  margin-top: 40px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: -24px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#pergunta{
  margin-bottom: 20px;
  color: var(--cor3);
  padding-left: 57px;
}

.escolha{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--cor2);
  box-shadow: 2px 3px 8px black;
  height: 44px;
  justify-content: space-evenly;
}
.nagivation_escolha{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  z-index: 2;
  background-color: var(--cor2);
  
}
.nagivation_escolha a{
  text-decoration: none;
  color: var(--color-white);
  transition: 1s;
  font-weight: bold;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  padding: 13px;
  border-radius: 5px;
  font-size: 15px;
}
.nagivation_escolha a:hover{
  background-color: var(--cor0);
  color: var(--cor3);
  }
.btn_icon_escolha{
  background-color: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  display: none;
}

/* Main */  

.container {
  width: auto;
  margin: 0 6%;
  border: 0px solid black;
  display: grid;
  grid-template-areas: "item item";
}
.caixa{
  height: 230px;
  display: flex;
  align-items: center;
}

.local{
  margin-left: 26px; 
  flex-direction: column;
  top: 0;
}
.titulo{
  position: relative;
  margin: 30px 0px;
}

h3{
margin-bottom: 20px;
color: var(--cor3);
margin-left: -70px;
}

.oferta {
width: 113px;
background-color: var(--cor3);
box-shadow: 2px 3px 8px black;
padding:8px;
margin-left: -44px;
color: white;
border-radius: 20px;
text-decoration: none;
font-weight: bold;
font-size: 1em;
}

.oferta:hover {
background-color: var(--cor0);
color: var(--cor3);
}

.coluna{
font-size: 1em;
margin: 13px 0 0 -50px;
color: black;
}

.active-link {
  color: var(--cor3);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
}
.active-link:hover{
  color: var(--cor0);
}
.assunto {
  font-size: 1em;
  margin: 0 30px;
  text-indent: 30px;
  color: black;
  text-align: justify;
}

.foote{
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
  max-width: auto;
  margin: 0 auto;
  height: 180px;
  box-shadow: -1px 1px 10px black;
  display: grid;
  grid-template-areas: "item item item";
  justify-items: center;
  justify-content: space-evenly;
}

h4{
  font-size: 18px;
  font: bold;
  margin-top: 30px;
  margin-bottom: 25px;
}

ul{
  margin-left: 17px;
}

h5{
  color: black;
  text-align: center;
  background-color: #026070;
  padding: 15px;
  box-shadow: inset 1px -1px 5px black;
}

/* Responsividade */ 

@media screen and (max-width: 975px){
  .nagivation_escolha a{
    text-decoration: none;
    color: var(--color-white);
    transition: 1s;
    font-weight: bold;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding: 13px;
    border-radius: 5px;
    font-size: 13px;
  }
  .nagivation_escolha{
    gap: 10px;
  }
 
}

@media screen and (max-width: 770px){
  .btn_icon_header{
      display: block;
  }
  .nagivation_header{
      position: absolute;
      flex-direction: column;
      top: 0;
      background-color: var(--cor3);
      height: 100%;
      width: 35vw;
      padding: 1em;
      animation-duration: 1s;
      margin-left: -100vw;
      border-radius: 10px;
  }
}
@keyframes showSidebar {
  from {margin-left: -100vw;}
  top {margin-left: -12vw;}
}